
.top-banner{background-color: #EFFDF0;}
.logo{height: 60px; width: 180px;}
a{ color: #1A1C19;}
.sign-in{ background-color: #5BB674; 
border-radius: 20px; color: white;
}
h1{ font-family: tahoma ; font-weight: 700;}
.first-text{ color: #EA4D33;}
.second-text{ color:#5BB674; }
.third-text {color: #6C6B6B;}

button{  color:white ;
    background-color: #5BB674;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;}
    .Course{ width: 80px; height: 85px; margin:auto; 
    }
    .card-title{color: #413960;}
    .card-title2{text-align: center;}
    .description{ color:#585859 ;}
    
    .card-text{text-align: center;}
.new-card {background-color: #F8FEFB; border-radius: 8px; padding-top: 40px;
   
}
.card-2{background-color: white;
    box-shadow: 1px 1px 15px lightgrey; 
}
.online-courses{font-family: tahoma; font-weight: 700; text-align: center; color: #413960;}

.old-card{ border: 18px solid white; border-radius:25px;}
.card-3{ background-color: white;
    box-shadow: 1px 1px 15px lightgrey;}
.text-muted{ font-family: tahoma; font-size: 15px;}
h2{ font-family: tahoma; font-weight: 700 ; text-align: center;}

.half-width{width: 40%;
float: left;margin-left: 2%;
}
.half-width img{ width: 30%; margin-left: 60%; margin-bottom: 100%;}